.hero-image {
  width: 100%;
  height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-one {
  width: 100%;
  height: 600px;
  background-color: blue;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url("../img/runner.jpg");
    background-size: cover;
  .section-one-header {
    h1 {
      margin: 0;
      color: $seconday-color-blue;
      font-family: $font-stack-head;
      padding: 30px;
      font-size: 35px;
    }
  }
  .paragraphs-overview {
    display: flex;
    flex-direction: row;
    max-width: 2000px;
    margin: 0 auto;
    .par {
      display: flex;
      width: 900px;
      margin: 0 auto;
      justify-content: center;
      color: $seconday-color-blue;
      font-size: 20px;
      align-items: baseline;
      p {
        padding-right: 20px;
        font-family: $font-stack-sub;
        span {
          font-size: 35px;
          color: $seconday-color-grey;
        }

      }
    }
    .img-one {
      height: 402px;
      width: 270px;
      img {
        height: 402px;
        width: 200px;
      }
    }
  }
  .line2 {
    background-color:$seconday-color-blue;
    color:$seconday-color-blue;
    width: 3px;
  }
}


.section-two {
  width: 100%;
  height: 950px;
  background: $font-color-main;
  .section-two-header {
    h1 {
      margin: 0;
      color: $seconday-color-blue;
      font-family: $font-stack-head;
      padding: 30px;
      font-size: 35px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .line3 {
    height: 3px;
    width: 1000px;
    margin-bottom: 30px;
    color: $seconday-color-blue;
    background-color:$seconday-color-blue;
  }
  .phone-image-group {
    display: flex;
    .phone {
      width: 400px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-around;
      flex-wrap: wrap;
      font-family: $font-stack-sub;
      img {
        height: 402px;
        width: 200px;
      }
      span {
        font-size: 35px;
        color: $seconday-color-grey;
      }
    }
  }
}

.section-three {
  .line4 {
    width: 1000px;
    margin-top: 0;
  }
  width: 100%;
  height: 800px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/workwork.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  color: $font-color-main;
  h1 {
    font-family: $font-stack-head;
    margin: auto 0;
    padding: 30px;
    padding-bottom: 10px;
    font-size: 35px;
    display: flex;
    justify-content: center;

  }
  .challenge-solution {
    display: flex;
    justify-content: flex-end;
    .para {
      width: 700px;
      font-family: $font-stack-sub;
      padding-right: 40px;

      span {
        font-size: 40px;
        color: $seconday-color-grey;
      }
      .desktop {
        width: 300px;
        height: 300px;
        display: flex;
        flex-wrap: wrap;

      }
      .mobile {
        width: 500px;
        height: 450px;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

.section-four {
  width: 100%;
  height: 600px;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url("../img/blurryweights.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
