.nav {
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  align-items: baseline;
  padding-top: 20px;
  font-family: $font-stack-sub;
  a {
    text-decoration: none;
    color: $font-color-main;
    padding-right: 40px;
  }
  a:hover {
    color: $primary-color-teal;
  }
  span{
    color: $primary-color-teal;
  }
}

a {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
